.Tutor-Buttons {
  display: flex;
  gap: 1rem;
}

@media only screen and (max-width: 600px) {
  .Tutor-Buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
}

.DiscordButton {
  background: #7289da;
  border-radius: 7px;
  font-weight: bolder;
  color: white;
}

.TutorButton {
    border-radius: 7px;
    margin-right: 34px;
    width: 190px;
    padding: 10px 0px 10px 0px;
    font-weight: bolder;
}

.DiscordButton:hover {
  background: #5c6ffa;
  color: white;
}

.TutorButton {
  border-radius: 7px;
  font-weight: bolder;
  text-align: center;
}

.row1 {
    display: inline-block;
    text-align: center;
    padding-top: 15px;
    background: #FEE7E7;
    width: 152px;
    height: 54px;
    border-radius: 4px;
    margin: 0 auto;
}
.DiscordIcon {
  width: 30px;
  height: 30px;
}

.tutoringCard {
  text-align: center;
  padding: 0 3rem 0;
}

.course-list {
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0 auto;
}

.course {
  text-align: center;
  background: #fee7e7;
  color: #000;
  width: 152px;
  height: 54px;
  border-radius: 4px;
  margin: 0;
  padding-top: 1em;
}

.TutoringGrid{
    padding: 4em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 1.5em;
    row-gap: 1em;
    width: 100%;
}

.TutoringGrid{
    padding: 4em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 1.5em;
    row-gap: 1em;
    width: 100%;
}

.TutorButtonBottom{
  display: flex;
  align-items: center;
  justify-content: center;
}
