.tutoring-info-group {
  margin-top: 100px;
  margin-left: 50px;
}

.tutoring-title {
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  margin-bottom: 25px;
}

.tutoring-description {
  text-align: "justify";
  max-width: 490px;
}

.tutor-buttons {
  display: flex;
  gap: 1rem;
}

@media only screen and (max-width: 600px) {
  .tutoring-info-group {
    margin-top: 0px;
    margin-left: 0px;
  }

  .tutoring-title {
    text-align: center;
    margin-left: 0px;
  }

  .tutoring-description {
    text-align: center;
    margin-left: 0px;
  }
  .tutor-Buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
}

.discord-button {
  background: #7289da;
  border-radius: 7px;
  font-weight: bolder;
  color: white;
}

.discord-icon {
  width: 25px;
  height: 30px;
}

.tutoring-discord-description {
  text-align: center;
  color: rgb(97, 97, 97);
  font-size: 10px;
  padding-top: 5px;
}

.discord-button:hover {
  background: #5c6ffa;
  color: white;
}

.tutor-button {
  border-radius: 7px;
  padding: 6px 12px;
  max-height: 45px;
  font-weight: bolder;
  text-align: center;
}

.tutoring-title-middle {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.row1 {
  display: inline-block;
  text-align: center;
  background: #fee7e7;
  width: 152px;
  height: 54px;
  border-radius: 4px;
  margin: 0 auto;
}

.course-list {
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
}

.course {
  text-align: center;
  background: #fee7e7;
  color: #000;
  width: 152px;
  height: 54px;
  border-radius: 4px;
  margin: 0;
  padding-top: 1em;
}

.tutoring-grid {
  padding: 4em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 1.5em;
  row-gap: 1em;
  width: 100%;
  padding-top: 0px;
}

.carousel-card {
  max-width: 300px;
  min-width: 300px;
  max-height: 240px;
  min-height: 240px;
}

.tutor-join-title {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.tutor-join-button-bottom {
  border-radius: 7px;
  width: 150px;
  font-weight: bolder;
  text-align: center;
}
