.tutors {
    padding: 1.3em;
	margin-bottom: 30px;
	background-color: #F7F7F7;
	border-radius: 7px;
	text-align: left;
	overflow: hidden;
	position: relative;
	height: 175px;
}

.tutorCard {
    padding: 0 3rem 0;
}

.cardSubjects {
	background-color: #C4C4C4;
	padding: .5em;
	border-radius: 32px;
	margin: 0px 7px 7px 0px;
	color: white;
	display: inline-block;
	vertical-align: middle;
	size: 16px;
	font-weight: 300;
}